<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.rcusapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rcusseal75w"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rcusseal75w"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".history" />
        <activity android:name=".creeds" />
        <activity android:name=".confessions" />
        <activity android:name=".congregations"/>
        <activity android:name=".classis"/>
    </application>

</manifest>